<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Libros Web - Búsqueda por autor</author>
    </head>
    <body>
        <h1>Libros Web</h1>
        <h2>Busqueda por autor</h2>
        <p>Busca una o más palabras en el título</p>
        <form action="/author" method="post">
            <label for="author">Título:</label>
            <input type="text" name="autor" id="libro">
            <input type="submit" value="Buscar">
        </form>
        <ul>
            {% for autor in lista_libros %}
            <li><a href = "/libro/{{libro.id}}"></a> {{ libro.author }}</li>
            {% endfor %}
        </ul>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/autor">Búsqueda por autor</a></li>
            <li><a href="/letra">Desplegar por letra</a></li>
        </ul>
    </body>
</html>